NODE_PATH=src
NODE_ENV=development
# CRA's webpack dev server read this to chose port in dev mode
PORT=3000
SERVER_PORT=8080
JWT_SECRET=k69Xcw7kkUKj7po3qbAyFnoHXWjOC0NZY3t2Ivk9gicXc26Eykw1mokwrpDQ4GS
JWT_EXPIRATION_MINUTES=15
MONGO_URI=mongodb://mongodb:27017/db-name
MONGO_URI_TESTS=mongodb://mongodb:27017/db-name
